ul {
  list-style-type: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #222, #999, #222);
}

body {
  background-color: #222;
  color: #999;
  text-shadow: 2px 2px 2px #111;

  
}

input {
  background-color: #222;
  color: #999;
  border-style: none;
  
  /*font-size: 1em;*/
  font-size: 1rem;
  
  min-width: 100px;
  min-height: 30px;
  height: 30px;

  /* display: table-cell; */ 
  border-bottom: 1px solid #333;
  text-shadow: 2px 2px 2px #111;
}

.heading {
  color: #ffa600;
  text-align: center;
  /*font-size: 4em;*/
}

.heading_label {

  /*font-size: 150%;*/

  /*font-size: calc(16px + 1vw);*/

  font-size: 3rem;


  font-weight: bold;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
}

.arrow {
  /*font-size: 150%;*/
  padding-right: 1vw;
  padding-left: 1vw;
  cursor: pointer;

  /*font-size: calc(16px + 1vw);*/

  font-size: 3rem;
}

.calendar {
  margin: auto;
  width: 99%;
}

.col_date {
  
  display: inline-block;

  width: 3vw;
  
  /*
  min-width: 3vw;
  max-width: 3vw;
  */
  
  font-weight: bold;
  /* padding-right: 1vw; */
}

.col_weekday {

  display: inline-block;

  font-style: italic;
  color: #555;
  padding-right: 3vw;
}

.col_event {

  display: inline-block;

  width: 100%;
}

.non_working_day {
  color: #ffa600;
}