body {
    background-color: #eee;
    color: #333;
    text-shadow: 2px 2px 2px #999;
}

.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}

.heading {
    text-align: center;
    padding-bottom: 20px;
}
  
.heading_label {
    font-size: 150%;
    font-weight: bold;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
}

.arrow {
    font-size: 150%;
    padding-right: 1vw;
    padding-left: 1vw;
    cursor: pointer;
}

hr {
    border: 0;
    height: 1px;

    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

.info {
    text-align: center;
}

.empty_space {
    display: inline-block;
    width: 10vw;
}

h3 {
    color: #444;
    font-variant: normal;
    font-style: italic;
    text-align: center;
    font-weight: 100;
    margin-top: -15px;
}

.spacer {
    height: 50px;
    visibility: hidden;
}

/*
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
*/

input {
    background-color: rgba(0, 0, 0, 0);
    color: #333;
    border-style: none;
    width: 100%;
    font-size: 90%;
    min-width: 100px;
    display: table-cell;
    border-bottom: 1px solid #aaa;
    text-shadow: 1px 1px 1px #111;
}