<!DOCTYPE html>
<html>

<head>
  <title>{{name}} {{year}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="/css/style2.css">
  <script src="/js/site.js"></script> 
</head>

<body>

  <input id="year" type="hidden" value="{{year}}"/>
  <input id="month" type="hidden" value="{{month}}"/>

  <div class="heading">
    <span class="arrow" id="arrow_previous">◀</span>
    <span class=heading_label>{{name}} {{year}}</span>
    <span class="arrow" id="arrow_next">▶</span>
  </div>

  <br>
  <hr>
  <br>

  <div class="calendar">

    {{#each weeks}}

      {{#each days}}

        <div>

          <div class="col_date">
            {{day}}. {{../../month}}.
          </div>
          
          <span class="col_weekday {{~#if is_non_workday}} non_working_day {{~/if~}}">
            {{weekday}}
          </span>
          
          <span class="col_event">
            <input type="text" data-day="{{day}}" value="{{event}}"/>
          </span>

        </div>

      {{/each}}

      <br>

    {{/each}}

  </div>

  <br>
  <hr>
  <br>
    
</body>

</html> 